@charset "utf-8";
.require::before{
    content:'*';
    position:relative;
    top:2px;
    margin-left:4px;
    color:red;
}

.readonly{
    background-color:#f0f0f0;
    color:#000;
}

/* 멀티파일업로드 */
input[type="file"]{position:relative;width:250px;height:80px;border-radius:10px;overflow:hidden;cursor:pointer;}
input[type="file"]::before{display:block;content:'';position:absolute;left:0;top:0;width:100%;height:100%;background:#ddd;opacity:1;z-index:3;}
input[type="file"]::after{display:block;content:'파일선택\A(드래그앤드롭 가능)';position:absolute;z-index:4;left:50%;top:50%;transform:translate(-50%,-50%);text-align:center;}
.MultiFile-wrap ~ ul{margin-top:10px;}
.MultiFile-wrap ~ ul > li{margin-top:10px;}
.MultiFile-wrap .MultiFile-list{}
.MultiFile-wrap .MultiFile-list > .MultiFile-label{position:relative;padding-left:25px;margin-top:10px;}
.MultiFile-wrap .MultiFile-list > .MultiFile-label .MultiFile-remove{position:absolute;top:0;left:0;font-size:0;}
.MultiFile-wrap .MultiFile-list > .MultiFile-label .MultiFile-remove::after{content:'×';display:block;position:absolute;left:0;top:0;width:20px;height:20px;border:1px solid #ccc;border-radius:50%;font-size:14px;line-height:20px;text-align:center;}
.MultiFile-wrap .MultiFile-list > .MultiFile-label > span{}
.MultiFile-wrap .MultiFile-list > .MultiFile-label > span span.MultiFile-label{font-size:14px;border:1px solid #ccc;background:#eee;padding:2px 5px;border-radius:3px;line-height:1.2em;}

/* indent depth 들여쓰기 */
.depth_0{padding-left:0;}
.depth_1{padding-left:30px !important;}
.depth_2{padding-left:60px !important;}
.depth_3{padding-left:90px !important;}
.depth_4{padding-left:120px !important;}
.depth_5{padding-left:150px !important;}

/* 상단 가로방향 탭버튼 */
.top_tab{margin-bottom:10px;}
.top_tab::after{display:block;visibility:hidden;clear:both;content:'';}
.top_tab .a_tab{display:block;float:left;padding:10px 20px;border:1px solid #60718b;margin-left:-1px;}
.top_tab .a_tab:first-child{margin-left:0px;}
.top_tab .focus{background-color:#6f809a;color:#fff;}

/* 타임픽커 스타일 */
.from_time select,
.end_time select{width:100px;}
.from_time i,
.end_time i{font-size:1.2em;cursor:pointer;}


/* 버튼(button) 스타일 */
.btn_primary{padding:0 15px !important;background-color:#3f72af !important;border-color:#3f72af !important;color:#fff !important;}
.btn_primary:hover{background-color:#006aee !important;border-color:#006aee !important;}
.btn_secondary{padding:0 15px !important;background-color:#545b62 !important;border-color:#545b62 !important;color:#fff !important;}
.btn_secondary:hover{background-color:#544a51 !important;border-color:#544a51 !important;}
.btn_success{padding:0 15px !important;background-color:#1e7e34 !important;border-color:#1e7e34 !important;color:#fff !important;}
.btn_success:hover{background-color:#1e6c23 !important;border-color:#1e6c23 !important;}
.btn_danger{padding:0 15px !important;background-color:#bd2232 !important;border-color:#bd2232 !important;color:#fff !important;}
.btn_danger:hover{background-color:#ac1221 !important;border-color:#ac1221 !important;}
.btn_warning{padding:0 15px !important;background-color:#ffc107 !important;border-color:#ffc107 !important;color:#000 !important;}
.btn_warning:hover{background-color:#efc107 !important;border-color:#efc107 !important;}
.btn_info{padding:0 15px !important;background-color:#17a2b8 !important;border-color:#17a2b8 !important;color:#fff !important;}
.btn_info:hover{background-color:#117a8b !important;border-color:#117a8b !important;}
.btn_gray{padding:0 15px !important;background-color:#aaaaaa !important;border-color:#aaaaaa !important;color:#fff !important;}
.btn_gray:hover{background-color:#888888 !important;border-color:#888888 !important;}
.btn_dark{padding:0 15px !important;background-color:#343a40 !important;border-color:#343a40 !important;color:#fff !important;}
.btn_dark:hover{background-color:#1d2124 !important;border-color:#1d2124 !important;}

.btn_s_primary{padding:1px 5px 2px !important;border-radius:3px !important;background-color:#3f72af !important;border-color:#3f72af !important;color:#fff !important;}
.btn_s_primary:hover{background-color:#006aee !important;border-color:#006aee !important;}
.btn_s_secondary{padding:1px 5px 2px !important;border-radius:3px !important;background-color:#545b62 !important;border-color:#545b62 !important;color:#fff !important;}
.btn_s_secondary:hover{background-color:#544a51 !important;border-color:#544a51 !important;}
.btn_s_success{padding:1px 5px 2px !important;border-radius:3px !important;background-color:#1e7e34 !important;border-color:#1e7e34 !important;color:#fff !important;}
.btn_s_success:hover{background-color:#1e6c23 !important;border-color:#1e6c23 !important;}
.btn_s_danger{padding:1px 5px 2px !important;border-radius:3px !important;background-color:#bd2232 !important;border-color:#bd2232 !important;color:#fff !important;}
.btn_s_danger:hover{background-color:#ac1221 !important;border-color:#ac1221 !important;}
.btn_s_warning{padding:1px 5px 2px !important;border-radius:3px !important;background-color:#ffc107 !important;border-color:#ffc107 !important;color:#000 !important;}
.btn_s_warning:hover{background-color:#efc107 !important;border-color:#efc107 !important;}
.btn_s_info{padding:1px 5px 2px !important;border-radius:3px !important;background-color:#17a2b8 !important;border-color:#17a2b8 !important;color:#fff !important;}
.btn_s_info:hover{background-color:#117a8b !important;border-color:#117a8b !important;}
.btn_s_dark{padding:1px 5px 2px !important;border-radius:3px !important;background-color:#343a40 !important;border-color:#343a40 !important;color:#fff !important;}
.btn_s_dark:hover{background-color:#1d2124 !important;border-color:#1d2124 !important;}

.btn_m_primary{padding:5px 5px 5px !important;border-radius:3px !important;background-color:#3f72af !important;border-color:#3f72af !important;color:#fff !important;}
.btn_m_primary:hover{background-color:#006aee !important;border-color:#006aee !important;}
.btn_m_secondary{padding:3px 5px 4px !important;border-radius:3px !important;background-color:#545b62 !important;border-color:#545b62 !important;color:#fff !important;}
.btn_m_secondary:hover{background-color:#544a51 !important;border-color:#544a51 !important;}
.btn_m_success{padding:2px 5px 3px !important;border-radius:3px !important;background-color:#1e7e34 !important;border-color:#1e7e34 !important;color:#fff !important;}
.btn_m_success:hover{background-color:#1e6c23 !important;border-color:#1e6c23 !important;}
.btn_m_danger{padding:2px 5px 3px !important;border-radius:3px !important;background-color:#bd2232 !important;border-color:#bd2232 !important;color:#fff !important;}
.btn_m_danger:hover{background-color:#ac1221 !important;border-color:#ac1221 !important;}
.btn_m_warning{padding:2px 5px 3px !important;border-radius:3px !important;background-color:#ffc107 !important;border-color:#ffc107 !important;color:#000 !important;}
.btn_m_warning:hover{background-color:#efc107 !important;border-color:#efc107 !important;}
.btn_m_info{padding:2px 5px 3px !important;border-radius:3px !important;background-color:#17a2b8 !important;border-color:#17a2b8 !important;color:#fff !important;}
.btn_m_info:hover{background-color:#117a8b !important;border-color:#117a8b !important;}
.btn_m_dark{padding:2px 5px 3px !important;border-radius:3px !important;background-color:#343a40 !important;border-color:#343a40 !important;color:#fff !important;}
.btn_m_dark:hover{background-color:#1d2124 !important;border-color:#1d2124 !important;}